= form_for @art, html: { class: "form form-horizontal art" } do |f|
  .form-group
    = f.label :title, class: 'control-label'
    .controls
      = f.text_field :title, class: 'form-control', required: true
    = error_span(@art[:title])
  .form-group
    = f.label :description, class: 'control-label'
    .controls
      = f.text_field :description, class: 'form-control', required: true
    = error_span(@art[:description])
  .form-group
    = f.label :latitude, class: 'control-label'
    .controls
      = f.text_field :latitude, class: 'form-control', required: true
    = error_span(@art[:latitude])
  .form-group
    = f.label :longitude, class: 'control-label'
    .controls
      = f.text_field :longitude, class: 'form-control', required: true
    = error_span(@art[:longitude])
  .form-group
    = f.label :address, class: 'control-label'
    .controls
      = f.text_field :address, class: 'form-control', required: true
    = error_span(@art[:address])
  = f.submit nil,class: 'btn btn-primary'
  = link_to t('.cancel', :default => t("helpers.links.cancel")), arts_path, :class => 'btn btn-default'
